/* You can add global styles to this file, and also import other style files */
.results{
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    justify-content: center;
  }

  .item{
    height: 100px;
    margin: 5px;
  }

  .results>div>img{
    height: 100px;
    border-radius: 5px;
  }